---
---

@import "{{ site.theme }}";

#header { display: none !important; }

body {
    overscroll-behavior-y: none;
}

a {
    color: #ff8f00;
}

code {
    color: #ffcc00;
    margin: 0 0;
    padding: 0 0;
}

section {
    margin-top: 0;
}
